# django
DJANGO_DEBUG=1
DJANGO_LOGLEVEL=debug
DJANGO_SECRET_KEY=secret_key
DJANGO_ALLOWED_HOSTS=0.0.0.0,127.0.0.1

# celery
CELERY_ACCEPT_CONTENT=json
CELERY_RESULT_ACCEPT_CONTENT=json
CELERY_TASK_TIME_LIMIT=300
CELERY_TASK_SOFT_TIME_LIMIT=120
CELERY_RESULT_BACKEND=redis://localhost
CELERY_BROKER_URL=redis://localhost
CELERY_CONCURRENCY=4

# email
EMAIL=sender@example.ru
EMAIL_PASSWORD=password
SMTP_HOST=smtp.yandex.ru
SMTP_PORT=465
EMAIL_USE_TLS=0  # False
EMAIL_USE_SSL=1  # True
ADMIN_EMAILS=admin1@email.com,admin2@email.com