# django
DJANGO_DEBUG=1
DJANGO_LOGLEVEL=debug
DJANGO_SECRET_KEY=secret_key
DJANGO_ALLOWED_HOSTS=0.0.0.0,127.0.0.1
DJANGO_CSRF_TRUSTED_ORIGINS=http://localhost:8000,http://127.0.0.1:8000,http://app:8000
DJANGO_REDIS_URL=redis://redis

# redis
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_URL=redis://localhost

# celery
CELERY_ACCEPT_CONTENT=json
CELERY_RESULT_ACCEPT_CONTENT=json
CELERY_TASK_TIME_LIMIT=300
CELERY_TASK_SOFT_TIME_LIMIT=120
CELERY_RESULT_BACKEND=${REDIS_URL}
CELERY_BROKER_URL=${REDIS_URL}
CELERY_CONCURRENCY=4

# email
EMAIL=sender@example.ru
EMAIL_PASSWORD=password
SMTP_HOST=smtp.yandex.ru
SMTP_PORT=465
EMAIL_USE_TLS=0  # False
EMAIL_USE_SSL=1  # True
ADMIN_EMAILS=admin1@email.com,admin2@email.com

# constance
CONSTANCE_REDIS_CONNECTION=${REDIS_URL}
CONSTANCE_REDIS_CACHE_TIMEOUT=60
CONSTANCE_REDIS_PREFIX=constance:online_store:

# YooKassa
YOOKASSA_SHOP_ID=your_shop_id
YOOKASSA_API_KEY=your_api_key

# postgres
POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_DB=online_store
