{% extends "base.html" %}

{% load i18n %}


{% block content %}
<div class="Middle Middle_top">
  <div class="Section Section_column Section_columnLeft">
    <div class="wrap">
      <div class="Section-column">
        <div class="Section-columnSection">
          <header class="Section-header">
            <strong class="Section-title">
              {% translate "Фильтр" %}
            </strong>
          </header>
          <div class="Section-columnContent">
            <form class="form" method="post">
              {% csrf_token %}
              <div class="form-group">
                <div class="range Section-columnRange">
                  <input class="range-line" id="price" name="price" type="text" data-type="double" data-min="0" data-max="1000" data-from="{{ min_price }}" data-to="{{ max_price }}">
                  <div class="range-price">Цена:&#32;
                    <div class="rangePrice"></div>
                  </div>
                </div>
              </div>

              <div class="form-group">
                <input class="form-input form-input_full" id="title" name="title" type="text" value="{{ text_filter }}" placeholder="Название">
              </div>

              <div class="form-group">
                <!-- - var options = setOptions(items, ['value', 'selected', 'disabled']);-->
              </div>

              <div class="form-group">
                <label class="toggle">
                  <input type="checkbox" name="available_only" {% if available_only %}checked{% endif %}>
                  <span class="toggle-box"></span>
                  <span class="toggle-text">
                    {% translate "Только товары в наличии" %}
                  </span>
                </label>
              </div>

              <div class="form-group">
                <label class="toggle">
                  <input type="checkbox" name="free_shipping" {% if free_shipping %}checked{% endif %}>
                  <span class="toggle-box"></span>
                  <span class="toggle-text">
                    {% translate "С бесплатной доставкой" %}
                  </span>
                </label>
              </div>
              <div class="form-group">
                <div class="buttons">
                  <button class="btn btn_square btn_dark btn_narrow">
                    {% translate "Фильтр" %}
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
        <div class="Section-columnSection">
          <header class="Section-header">
            <strong class="Section-title">
              {% translate "Популярные тэги" %}
            </strong>
          </header>
          <div class="Section-columnContent">
            <div class="buttons">
              <a class="btn btn_default btn_sm" href="#">
                {% translate "Видео" %}
              </a>
            <a class="btn btn_default btn_sm"
                href="#">
                {% translate "Разработка" %}</a><a class="btn btn_default btn_sm" href="#">
                  {% translate "Игры" %}</a><a
                class="btn btn_default btn_sm" href="#">Asus</a><a class="btn btn_default btn_sm"
                href="#">
                {% translate "Разработка" %}</a><a class="btn btn_default btn_sm" href="#">
                  {% translate "Видео" %}</a>
            </div>
          </div>
        </div>
      </div>
      <div class="Section-content">
        <div class="Sort">
          <div class="Sort-title">
            {% translate "Сортировать по" %}:
          </div>
          <div class="Sort-variants">
            <a class="Sort-sortBy" data-sort="carts_count">
              {% translate "Популярности" %}
            </a>
            <a class="Sort-sortBy" data-sort="price">
              {% translate "Цене" %}
            </a>
            <a class="Sort-sortBy" data-sort="reviews_count">
              {% translate "Отзывам" %}
            </a>
            <a class="Sort-sortBy" data-sort="created_at">
              {% translate "Новизне" %}
            </a>
          </div>
        </div>
        {% if products %}
        <div class="Cards">
          {% for product in products %}
          <div class="Card">
            <a class="Card-picture" href="{% url "shop:products_detail" pk=product.id %}">
              <img style="max-height: 300px; width: auto" src="{{ product.image_url }}" alt="product_image" />
            </a>
            <div class="Card-content">
              <strong class="Card-title">
                <a href="{% url "shop:products_detail" pk=product.id %}">{{ product.title}}</a>
              </strong>
              <div class="Card-description">
                <div class="Card-cost">
                  <span class="Card-price">${{ product.price }} {{ image_url.url }}</span>
                </div>
                <div class="Card-category">{{ product.categories }}
                </div>
                <div class="Card-hover">
                  <a class="Card-btn" href="{% url 'shop:add_to_cart' pk=product.id %}">
                    <img src="/static/assets/img/icons/card/cart.svg" alt="cart.svg" />
                  </a>
                  <a class="Card-btn" href="{% url 'comparison:add_product' product_id=product.id %}">
                    <img src="/static/assets/img/icons/card/change.svg" alt="change.svg" />
                  </a>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
        {% else %}
        <h2>
          {% translate "Товаров на данный момент нет" %}
        </h2>
        {% endif %}

        <div class="Pagination">
          <div class="Pagination-ins">
            {% if page_obj.has_previous %}
              <a class="Pagination-element Pagination-element_prev" href="?page={{ page_obj.previous_page_number }}">
                <img src="/static/assets/img/icons/prevPagination.svg" alt="Предыдущая страница" />
              </a>
            {% endif %}
        
            {% for num in page_obj.paginator.page_range %}
              {% if page_obj.number == num %}
                <a class="Pagination-element Pagination-element_current" href="?page={{ num }}">
                  <span class="Pagination-text">{{ num }}</span>
                </a>
              {% else %}
                <a class="Pagination-element" href="?page={{ num }}">
                  <span class="Pagination-text">{{ num }}</span>
                </a>
              {% endif %}
            {% endfor %}
        
            {% if page_obj.has_next %}
              <a class="Pagination-element Pagination-element_next" href="?page={{ page_obj.next_page_number }}">
                <img src="/static/assets/img/icons/nextPagination.svg" alt="Следующая страница" />
              </a>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<script>
  document.addEventListener('DOMContentLoaded', function () {
    const urlParams = new URLSearchParams(window.location.search);
    const currentSort = urlParams.get('sort'); // Получаем текущее значение сортировки

    // Устанавливаем классы для сортировки в зависимости от текущих параметров
    document.querySelectorAll('.Sort-sortBy').forEach(function (link) {
      const sortField = link.dataset.sort; // Получаем поле сортировки из data-sort

      // Если сортировка не задана, устанавливаем класс для "Популярности"
      if (currentSort === null && sortField === "orders") {
        link.classList.add('Sort-sortBy_dec'); // Устанавливаем класс для уменьшения
      } else if (currentSort === sortField) {
        link.classList.add('Sort-sortBy_inc'); // Устанавливаем класс для увеличения
      } else if (currentSort === '-' + sortField) {
        link.classList.add('Sort-sortBy_dec'); // Устанавливаем класс для уменьшения
      }
    });
  });

  document.querySelectorAll('.Sort-sortBy').forEach(function (link) {
    link.addEventListener('click', function (event) {
      event.preventDefault(); // Предотвращаем переход по ссылке

      // Получаем текущие параметры сортировки из URL
      const urlParams = new URLSearchParams(window.location.search);
      const currentSort = urlParams.get('sort'); // Получаем текущее значение сортировки
      const sortField = this.dataset.sort; // Получаем поле сортировки из data-sort

      // Удаляем классы сортировки у всех ссылок
      document.querySelectorAll('.Sort-sortBy').forEach(function (link) {
        link.classList.remove('Sort-sortBy_inc', 'Sort-sortBy_dec');
      });

      // Устанавливаем новое значение сортировки
      if (currentSort === null) {
        // Если сортировка не задана, устанавливаем новое значение
        urlParams.set('sort', sortField);
        this.classList.add('Sort-sortBy_inc'); // Устанавливаем класс для увеличения
      } else if (currentSort === sortField) {
        // Если текущее значение равно выбранному, инвертируем его
        urlParams.set('sort', '-' + sortField);
        this.classList.add('Sort-sortBy_dec'); // Устанавливаем класс для уменьшения
      } else {
        // Устанавливаем новое значение сортировки
        urlParams.set('sort', sortField);
        this.classList.add('Sort-sortBy_inc'); // Устанавливаем класс для увеличения
      }

      // Перезагружаем страницу с обновленным GET-запросом
      window.location.search = urlParams.toString();
    });
  });
</script>
{% endblock %}