{% extends "base.html" %}

{% load i18n %}


{% block header %}
  {% include 'header_for_authorization.html' %}
{% endblock %}

{% block content %}
  <div class="wrap">
    <div class="row Header-rowMain">
        <div class="row-block Header-logo">
          <a class="logo" href="{% url 'homepage' %}">
            <img class="logo-image" src="/static/assets/img/logo.png" alt="logo.png" />
          </a>
        </div>
    </div>

    <div class="wrapper">
      <div class="header">
          <h3 class="sign-in">
            {% translate "Восстановление пароля" %} (1/2)</h3>
          <h5>
            {% translate "Для восстановления пароля введите адрес электронной почты, на которую зарегистрирована учетная запись" %}
          </h5>
      </div>
      <form action="#" method="post">
        {% csrf_token %}
        {{ form.as_div }}
        <div>
          <input type="submit" value="Получить проверочный код" />
        </div>
        <a class="registr" href="{% url 'profiles:register' %}">
          {% translate "Вход" %}
        </a>
      </form>
    </div>

  </div>
{% endblock %}