{% extends "base.html" %}

{% load i18n %}


{% block content %}
    <div class="Middle Middle_top">
        <div class="Middle-top">
            <div class="wrap">
                <div class="Middle-header">
                    <h1 class="Middle-title">
                        {% translate "Оплата" %}
                    </h1>
                    <ul class="breadcrumbs Middle-breadcrumbs">
                        <li class="breadcrumbs-item"><a href="{% url 'homepage' %}">
                            {% translate "home" %}
                        </a>
                        </li>
                        <li class="breadcrumbs-item breadcrumbs-item_current"><span>
                            {% translate "Оплата" %}
                        </span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="Section">
            <div class="wrap">
                <form class="form Payment" action="" method="post">
                    {% csrf_token %}
                    <div class="Payment-card">
                        <div class="form-group">
                            <label class="form-label" for="id_cart_number">Номер карты</label>
                            {{ form.cart_number }}
                        </div>
                        <div class="form-group">
                            <label class="form-label" for="id_expiry_month">Месяц окончания (MM)</label>
                            {{ form.expiry_month }}
                        </div>
                        <div class="form-group">
                            <label class="form-label" for="id_expiry_year">Год окончания (YYYY)</label>
                            {{ form.expiry_year }}
                        </div>
                        <div class="form-group">
                            <label class="form-label" for="id_cvc">CVC</label>
                            {{ form.cvc }}
                        </div>
                        <div class="form-group">
                            <label class="form-label" for="id_total_price">Сумма</label>
                            {{ form.total_price }}
                        </div>
                    </div>
                    <div class="Payment-pay">
                        <button class="btn btn_primary" >
                        {% translate "Оплатить" %}
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}