<header class="Section-header">
    <h3 class="Section-title">{{ num_feedbacks }} Отзыв(-а, -ов)</h3>
</header>
<div class="Comments">
    <ul>
        {% for feedback in feedbacks %}
        <li>
            <div class="Comment">
                <div class="Comment-column Comment-column_pict">
                    <div class="Comment-avatar">
                        {% if feedback.user.avatar %}
                        <img src="{{ feedback.user.avatar }}">
                        {% endif %}
                    </div>
                </div>
                <div class="Comment-column">
                    <header class="Comment-header">
                        <div>
                            <strong class="Comment-title">{{ feedback.user.username }}
                            </strong><span class="Comment-date">{{feedback.pub_date|date:"F j&#32;&#32;/&#32;&#32;o&#32;&#32;/&#32;&#32;H:i"}}</span>
                        </div>
                    </header>
                    <div class="Comment-content">{{feedback.comment}}
                    </div>
                </div>
            </div>
        </li>
        {% endfor %}
    </ul>
    <button class="btn btn_muted" id="load-reviews" type="submit">Показать еще</button>
</div>