{% extends "base.html" %}

{% block content %}
<div class="Middle Middle_top">
    <div class="Section">
        <div class="wrap">
            <form class="form Cart" action="#" method="post">
                {% csrf_token %}
                {% for item in cart.cart_items.all %}
                <div class="Cart-product">
                    <div class="Cart-block Cart-block_row">
                        <div class="Cart-block Cart-block_pict">
                            <a class="Cart-pict" href="{% url 'shop:products_detail' pk=item.product.id %}">
                                <img class="Cart-img" src="/media/{{ item.product.images.all.0.image }}" alt="{{ item.product.title }}" />
                            </a>
                        </div>
                        <div class="Cart-block Cart-block_info">
                            <a class="Cart-title" href="{% url 'shop:products_detail' pk=item.product.id %}">{{ item.product.title }}</a>
                            <div class="Cart-desc">{{ item.product.description }}</div>
                        </div>
                        <div class="Cart-block Cart-block_price">
                            <div class="Cart-price">{{ item.get_final_price }}$</div>
                        </div>
                    </div>
                    <div class="Cart-block Cart-block_row">
                        <div class="Cart-block Cart-block_seller">
                            <span>Продавец: {{ item.selected_seller.name }}</span>
                        </div>
                        <div class="Cart-block Cart-block_amount">
                            <div class="Cart-amount">
                                <div class="Amount">
                                    <input class="Amount-input form-input" name="amount_{{ item.id }}" type="text" value="{{ item.quantity }}" readonly />
                                </div>
                            </div>
                        </div>
                        <div class="Cart-block Cart-block_delete">
                            <a class="Cart-delete" href="{% url 'shop:cart_remove' %}" data-product-id="{{ item.product.id }}" data-seller-id="{{ item.selected_seller.id }}">
                                <img src="/static/assets/img/icons/card/delete.svg" alt="Удалить" />
                            </a>
                        </div>
                    </div>
                </div>
                {% empty %}
                <p>Ваша корзина пуста.</p>
                {% endfor %}

                {% if cart.cart_items.all %}
                <div class="Cart-total">
                    <div class="Cart-block Cart-block_total">
                        <strong class="Cart-title">Итого без скидки / со скидкой:</strong>
                        <span class="Cart-price">{{ total_price }} / {{ total_discount_price }}$</span>
                    </div>
                    <div class="Cart-block">
                        <a class="btn btn_success btn_lg" href="{% url 'shop:order_user' pk=cart.id %}">Оформить заказ</a>
                    </div>
                </div>
                {% endif %}
            </form>
        </div>
    </div>
</div>
{% endblock %}