{% extends "base.html" %}

{% block header %}
  {% include 'header_for_authorization.html' %}
{% endblock %}

{% block content %}
  <div class="wrap">
    <div class="row Header-rowMain">
      <div class="row-block Header-logo">
        <a class="logo" href="{% url 'homepage' %}">
          <img class="logo-image" src="/static/assets/img/logo.png" alt="logo.png" />
        </a>
      </div>
    </div>
    <div class="wrapper">
      <div class="header">
        <h3 class="sign-in">Вход</h3>
      </div>
        <div class="clear"></div>
        <form action="#" method="post">
          {% csrf_token %}
          {{ form.as_div }}
{#          <div>#}
{#            {{ form.email.label_suffix }}#}
{#            {{ form.email }}#}
{#          </div>#}
{#          <div>#}
{#            {{ form.password.label_suffix }}#}
{#            {{ form.password }}#}
{#          </div>#}
          <div>
            <input type="submit" value="Войти" />
          </div>
          <a class="forgot-label" href="{% url 'profiles:password_reset' %}">Забыли пароль?</a>
          <a class="registr" href="{% url 'profiles:register' %}">Регистрация</a>
        </form>
    </div>
  </div>
{% endblock %}