{% extends "base.html" %}

{% block content %}
  <div class="Middle Middle_top">
    <div class="Section Section_column Section_columnRight Section_columnWide Order">
      <div class="wrap">

        {% include 'order_selector.html' %}

        <div class="Section-content">
          <div class="Order-block Order-block_OPEN">
            <header class="Section-header Section-header_sm">
              <h2 class="Section-title">Шаг 4. Подтверждение заказа</h2>
            </header>
            <div class="Order-infoBlock">
              <div class="Order-personal">
                <div class="row">
                  <div class="row-block">
                    <div class="Order-info">
                      <div class="Order-infoType">ФИО:
                      </div>
                      <div class="Order-infoContent">{{ user.account }}
                      </div>
                    </div>
                    <div class="Order-info">
                      <div class="Order-infoType">Телефон:</div>
                      <div class="Order-infoContent">+7{{ user.phone }}</div>
                    </div>
                    <div class="Order-info">
                      <div class="Order-infoType">E-mail:</div>
                      <div class="Order-infoContent">{{ user.email }}</div>
                    </div>
                  </div>
                  <div class="row-block">
                    <div class="Order-info Order-info_delivery">
                      <div class="Order-infoType">Тип доставки:</div>
                      {% if order.delivery == 'ED' %}
                        <div class="Order-infoContent">Экспресс доставка</div>
                      {% else %}
                        <div class="Order-infoContent">Обычная доставка</div>
                      {% endif %}
                    </div>
                    <div class="Order-info">
                      <div class="Order-infoType">Город:</div>
                      <div class="Order-infoContent">{{ order.city }}</div>
                    </div>
                    <div class="Order-info">
                      <div class="Order-infoType">Адрес:</div>
                      <div class="Order-infoContent">{{ order.address }}</div>
                    </div>
                    <div class="Order-info Order-info_pay">
                      <div class="Order-infoType">Оплата:</div>
                      {% if order.payment_method == 'SC' %}
                      	<div class="Order-infoContent">Онлайн картой</div>
                      {% else %}
                        <div class="Order-infoContent">Онлайн со случайного чужого счёта</div>
                      {% endif %}
                    </div>
                  </div>
                </div>
              </div>
              <div class="Cart Cart_order">
                {% for cart in cart %}
                <div class="Cart-product">
                  <div class="Cart-block Cart-block_row">
                    <div class="Cart-block Cart-block_pict">
                      <a class="Cart-pict" href="#">
                        <img class="Cart-img" src="/media/{{ cart.product.images.all.0.image }}" alt="card.jpg" />
                      </a>
                    </div>
                    <div class="Cart-block Cart-block_info">
                      <a class="Cart-title" href="#">{{ cart.product.title }}</a>
                      <div class="Cart-desc">{{ cart.product.short_description }}</div>
                    </div>
                    <div class="Cart-block Cart-block_price">
                      <div class="Cart-price">{{ cart.get_final_price }} руб.</div>
                    </div>
                  </div>
                  <div class="Cart-block Cart-block_row">
                    <div class="Cart-block Cart-block_amount">{{ cart.quantity }} шт.</div>
                  </div>
                </div>
                {% endfor %}
                <div class="Cart-total">
                  <div class="Cart-block Cart-block_total">
                    <strong class="Cart-title">Итого:
                    </strong><span class="Cart-price">{{ total }} руб.</span>
                  </div>
                  <div class="Cart-block">
                    <button class="btn btn_primary btn_lg" type="submit">
                      Оплатить
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


{% endblock %}