{% extends "base.html" %}

{% block content %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js"></script>


  <div class="Middle Middle_top">
    <div class="Section Section_column Section_columnRight Section_columnWide Order">
      <div class="wrap">

      {% include 'order_selector.html' %}

        <div class="Section-content">
          <form class="form" action="#" method="post">
            {% csrf_token %}
            <div class="Order-block Order-block_OPEN" id="step1">
              <header class="Section-header Section-header_sm">
                <h2 class="Section-title">Шаг 1. Параметры пользователя</h2>
              </header>
              {{ form.non_field_errors }}
              <div class="row">
                <div class="row-block">
                  <div class="form-group">
                    {{ form.username.errors }}
                    <label for="{{ form.username.id_for_label }}">ФИО</label>
                    {{ form.username }}
                  </div>
                  <div class="form-group">
                    <label for="{{ form.phone.id_for_label }}">Телефон</label>
                    {{ form.phone }}
                  </div>
                  <div class="form-group">
                    {{ form.email.errors }}
                    <label for="{{ form.email.id_for_label }}">E-mail</label>
                    {{ form.email }}
                  </div>
                </div>
                <div class="row-block">
                  {% if not user.is_authenticated %}
                  <div class="form-group">
                    <label for="{{ form.password.id_for_label }}">Пароль</label>
                    {{ form.password }}
                  </div>
                  <div class="form-group">
                    <label for="{{ form.password_confirm.id_for_label }}">Подтверждение пароля</label>
                    {{ form.password_confirm }}
                  </div>
                  <div class="form-group">
                    <a class="btn btn_muted Order-btnReg" href="{% url 'profiles:login' %}">Я уже зарегистрирован</a>
                  </div>
                  {% endif %}
                </div>
              </div>
              <div class="Order-footer">
                <a  class="btn btn_success" href="{% url 'shop:order_delivery' pk=order_id %}">
                  Дальше
                </a>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

<script>
$(function(){
  $("#id_phone").mask("+7(999) 999-99-99");
});
</script>

{% endblock %}