{% extends "base.html" %}

{% block header %}
  {% include 'header_for_authorization.html' %}
{% endblock %}

{% block content %}
  <div class="wrap">
    <div class="row Header-rowMain">
        <div class="row-block Header-logo">
          <a class="logo" href="{% url 'homepage' %}">
            <img class="logo-image" src="/static/assets/img/logo.png" alt="logo.png" />
          </a>
        </div>
    </div>

    <div class="wrapper">
      <div class="header">
          <h5>Отправлена инструкция для сброса пароля на ваш email. Если вы не получили письмо, проверьте папку спам.</h5>
      </div>
    </div>

  </div>
{% endblock %}