{% extends "base.html" %}

{% block content %}

  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.10/jquery.mask.js"></script>

  <div class="Middle Middle_top">
    <div class="Section Section_column Section_columnLeft">
      <div class="wrap">
        <div class="Section-column">
          <div class="Section-columnSection">
            <header class="Section-header">
              <strong class="Section-title">Навигация</strong>
            </header>
            <div class="Section-columnContent">
              <div class="NavigateProfile">
                <ul class="menu menu_vt">
                  <li class="menu-item">
                    <a class="menu-link" href="{% url 'profiles:user_account_view' %}">Личный кабинет</a>
                  </li>
                  <li class="menu-item_ACTIVE menu-item">
                    <a class="menu-link" href="{% url 'profiles:user_profile_view' %}">Профиль</a>
                  </li>
                  <li class="menu-item">
                    <a class="menu-link" href="{% url 'shop:order_history' %}">История заказов</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="Section-content">
          <div class="Profile">
            <form class="form Profile-form" action="{% url 'profiles:user_profile_update_view' %}" method="post" enctype="multipart/form-data">
              {% csrf_token %}
              <div class="row">
                <div class="row-block">
                  <div class="form-group">
                    <label class="form-label" for="avatar">Аватар</label>
                    <div class="Profile-avatar Profile-avatar_noimg">
                      <label class="Profile-fileLabel" for="avatar">
                        <img src="/static/assets/img/icons/upload.png" alt="" />
                        Загрузить фото
                      </label>
                      <input class="Profile-file form-input"
                             id="avatar"
                             name="avatar"
                             type="file" />
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="form-label" for="first_name">Имя</label>
                    <input class="form-input"
                           id="first_name"
                           name="first_name"
                           type="text"
                           value="{{ user.account.first_name }}" />
                  </div>
                  <div class="form-group">
                    <label class="form-label" for="last_name">Фамилия</label>
                    <input class="form-input"
                           id="last_name"
                           name="last_name"
                           type="text"
                           value="{{ user.account.last_name }}" />
                  </div>
                  <div class="form-group">
                    <label class="form-label" for="patronymic">Отчество</label>
                    <input class="form-input"
                           id="patronymic"
                           name="patronymic"
                           type="text"
                           value="{{ user.account.patronymic }}" />
                  </div>
                </div>
                <div class="row-block">
                  <div class="form-group">
                    <label class="form-label" for="phone">Телефон</label>
                    <input class="form-input"
                           id="phone"
                           name="phone"
                           type="text"
                           value="{{ user.phone }}"
                           autocomplete="off"/>
                  </div>
                  <div class="form-group">
                    <label class="form-label" for="email">E-mail</label>
                    <input class="form-input"
                           id="email"
                           name="email"
                           type="email"
                           value="{{ user.email }}" />
                  </div>
                  <div class="form-group">
                    <label class="form-label" for="password">Пароль</label>
                    <input class="form-input"
                           id="password"
                           name="password"
                           type="password"
                           placeholder="Тут можно изменить пароль" />
                  </div>
                  <div class="form-group">
                    <label class="form-label" for="passwordReply">Подтверждение пароля</label>
                    <input class="form-input"
                           id="passwordReply"
                           name="passwordReply"
                           type="password"
                           placeholder="Введите пароль повторно" />
                  </div>
                  <div class="form-group">
                    <div class="Profile-btn">
                      <button class="btn btn_success" type="submit">
                        Сохранить
                      </button>
                    </div>
                    <div class="Profile-success">
                      Профиль успешно сохранен
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script>
      //Код jQuery, установливающий маску для ввода телефона элементу input
      //1. После загрузки страницы,  когда все элементы будут доступны выполнить...
      $(function(){
          //2. Получить элемент, к которому необходимо добавить маску
          $("#phone").mask("+7(999) 999-99-99");
      });
  </script>

{% endblock %}
