<header class="Section-header">
    <h3 class="Section-title">{{ num_reviews }} Отзыв(-а, -ов)</h3>
</header>
<div class="Comments">
    <ul id="review-list-ul">
        {% for review in reviews %}
        <li>
            <div class="Comment">
                <div class="Comment-column Comment-column_pict">
                    <div class="Comment-avatar">
                        {% if review.user.avatar %}
                        <img src="{{ review.user.avatar }}">
                        {% endif %}
                    </div>
                </div>
                <div class="Comment-column">
                    <header class="Comment-header">
                        <div>
                            <strong class="Comment-title">{{ review.author.username }}
                            </strong><span class="Comment-date">{{review.created_at|date:"F j  /  o  /  H:i"}}</span>
                        </div>
                    </header>
                    <div class="Comment-content">{{review.content}}
                    </div>
                </div>
            </div>
        </li>
        {% endfor %}
    </ul>
    <button class="btn btn_muted" id="load-reviews" type="submit">Показать еще</button>
</div>